<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Seja Bem Vindo!
    </mat-card-title>
<mat-card-subtitle class="subtitle">
    Sistema para construção de cadastro de produtos desenvolvido em <strong>Angular</strong>.
</mat-card-subtitle>
</mat-card>

<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Lucas Benício</mat-card-title>
          <mat-card-subtitle>@lucasbenicio</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://scontent.fjdo1-1.fna.fbcdn.net/v/t1.6435-9/103018398_3053804438032281_4936283779842163512_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=174925&_nc_ohc=CGn7TFtvYCYAX9_f0D8&tn=0pI2f-iTWnfDg_6h&_nc_ht=scontent.fjdo1-1.fna&oh=13f4fffcbd5779a2d83064df0f12ce26&oe=60E49EF1" alt="Photo of Lucas">
        <mat-card-content>
          <p>
            Estudante de Sistemas de Informação na Unicatólica de Quixadá, programador focado em desenvolvimento frontend utilizando frameworks como Angular, Vue.js, React, entre outros. Conhecimentos adicionais em programação em dispositivos móveis utilizando Java. 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="like"><i class="material-icons">favorite</i>LIKE</button>
          <button mat-button class="share"><i class="material-icons">share</i>SHARE</button>
        </mat-card-actions>
</mat-card>
<mat-toolbar class="footer">
    <span>
        Desenvolvido por <strong><span class="blue">Locs</span> Systems</strong>
    </span>
</mat-toolbar>
    

